<header>
    <nav>
      <ul>
        <li>
          <a href="/"
            ><img src="../images/logo.png" alt="logo Rijksmuseum"
          /></a>
        </li>
        <li>
          <!-- Rotation Icon + Info  -->
          <img
            src="../images/rotate.png"
            alt="rotate your phone image"
            id="rotateInfo"
          />
          <section>
            <p id="rotateInfoText">
              You can rotate your phone to see artworks without borders.
            </p>
          </section>
        </li>
        <li>
          <!-- Search Bar -->
          <input
            id="searchInput"
            type="text"
            class="searchTerm"
            autocomplete="off"
            placeholder="Search for a Master/Artwork"
          />
        </li>
      </ul>
      <ul id="searchField"></ul>
    </nav>
  </header>